#root {
  @include flex;

  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/main_back.jpg");
  background-position: center;
  background-size: cover;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.garage-wrapper {
  width: 100%;
  max-width: 1400px;
}

.garage__top-container {
  @include flex;

  justify-content: space-between;
}

.garage__cars-container {
  @include flex;

  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  gap: 20px;
}
