input,
textarea,
input:active,
textarea:active {
  outline: none;
  height: 20px;
}

.input-text:focus::input-placeholder {
  outline: 0;
  outline-offset: 0;
  border: 0;
  color: transparent;
}

input::input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}
